#container {
    display: grid;
    background-color: grey;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-areas: ". . red ."
                        "blue . . ."
                        ". . . black"
                        ". yellow . .";
}


#red {
    background-color: red;
    grid-area: red;
}

#blue {
    background-color: blue;
    grid-area: blue;

}
#yellow {
    background-color: yellow;
    grid-area: yellow;

}

#black {
    background-color: black;
    grid-area: black;

}

@media screen and (max-width: 600px) {
    #container {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
    }
    #red {
        background-color: red;
        grid-row: 1;
        grid-column: 1/2;
    }

    #blue {
        background-color: blue;
        grid-row: 2;
        grid-column: 1/2;

    }
    #yellow {
        background-color: yellow;
        grid-row: 3;
        grid-column: 1/2;

        width: available;
        height: available;
    }

    #black {
        background-color: black;
        grid-row: 4;
        grid-column: 1/2;

    }
}